body{
    background-color: antiquewhite;
    margin: 1rem;
    font-size: 16px;
}
main{
}
.field1{
    background-color: aliceblue;
    border-radius: 1rem;
    margin: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;
    border: none;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    /* font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
      }
      .field2{
        background-color: hsl(330, 100%, 98%);
        border-radius: 1rem;
        border: none;
      }
img{
    margin: 1rem;
    border-radius: 1rem;
}
h1{
    font-family: "Young Serif", serif;
    font-weight: 700;
    font-style: normal;
}
#ah2{
    color: hsl(332, 51%, 32%);
}
.dh2{
    color: hsl(14, 45%, 36%);
}
span{
    color: hsl(14, 45%, 36%);
}
#sp1{
    margin-left: 25%;
}
#sp2{
    margin-left: 28%;
}
#sp3{
    margin-left: 27%;
}
#sp4{
    margin-left: 31%;
}
#p{
    margin-left: 5rem;
}